.row {
    max-width: $grid-width;
    margin: 0 auto;
    clear: both;
    
    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;
    }

    // ----------------------

    [class^="col-"] {
        float: left;
        padding-right: 20px;

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    [class*='col-']:last-of-type {
        padding-right: 0;
    }

// ----------------------------------------------------------------------------------------------

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }

    .col-4-of-4 {
        width: 100%;
    }


    // ----------------------------------------------------------------------------------- 
    .col-md-10 {
        width: 100%;
    }

    .col-md-9 {
      width: 90%;
    }

    .col-md-8 {
      width: 80%;
    }

    .col-md-7 {
        width: 70%;
    }

    .col-md-5 {
        width: 50%;
    }

    .col-md-4 {
        width: 40%;
    }

    .col-md-3 {
        width: 30%;
    }

    .col-md-2 {
        width: 20%;
    }

    .col-md-1-3 {
        width: 33.33%;
    }

    .col-md-offset-1 {
      margin-left: 10%;
    }

    .pd-md-1 {
      padding: $pd-md-1;      
    }

    .mb-md-1 {
      margin: $mb-md-1;      
    }