.header {
  height: 4rem;
  position: sticky;
  top: 0px;
  background-color: $color-grey-light-1;
  border-bottom: 1px solid $color-border;
  z-index: 999;

  &__logo {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1rem;
  }
}

