.counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid $color-border;
}

.counter__type {
  min-width: 200px;
  height: 30px;
  padding: 2em;
  color: $color-grey-light-1;
  background-color: $color-tertiary-grey;
  text-align: center;
  position: relative;
}

.counter__type__title {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.counter__type__value {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.counter__type--selected {
  color: $color-grey-light-2;
  background-color: $color-tertiary-light;
}

.counter__type:hover {
  cursor: pointer;
}