.trip {
    padding: 1em;
    border: 1px solid rgba(88, 183, 205, .15);
  }

.react-datepicker-popper {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(677px, 301px, 0px);
}