/* =================================
  Element Styles
==================================== */

.App {
  width: 100%;
  max-width: 1200px;
  margin: 2.5em auto;
  overflow: hidden;
  border: 1px solid $color-border;
  background-color: $color-white;
}

.AppLogin {
  width: 100%;
  max-width: 600px;
  margin: 2.5em auto;
  overflow: hidden;
  border: 1px solid $color-border;
  background-color: $color-white;
}

/* pending */

.pending {
  border-color: rgba(210, 210, 210, .5);
}

.pending span {
  color: rgb(210, 210, 210);
}
/* responded */

.responded {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-color: rgba(88, 183, 205, .9);
}

.responded label {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}

.confirmed {
  margin-left: 10px;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 769px) {
  div > label {
    margin-top: 12px;
  }
  h1 {
    font-size: 5.8em;
  }
  h2 {
    font-size: 1.95em;
  }
  form {
    margin-top: 1rem;
    z-index: 3000;
    position: relative;
  }
  .wrapper {
    width: 90%;
  }
  .main {
    padding: 1em 1em 1em;
    position: relative;
    z-index: 10;
  }
  .filter {
    display: inline-block;
  }
  td:last-child {
    padding-left: 5px;
  }
  .main > div {
    margin-top: 2em;
  }
}

// @media (min-width: 880px) {
//   .trip__item {
//     -ms-flex-preferred-size: 90%;
//     flex-basis: 90%;
//   }
// }

// .trips {
//   width: 100%;
// }
