/* =================================
  Element Styles
==================================== */

.App {
  width: 100%;
  max-width: 75rem;
  min-width: 25rem;
  margin: 2em auto;
  overflow: hidden;
  border: 1px solid $color-border;
  background-color: $color-white;
}

.AppLogin {
  width: 100%;
  min-width: 25rem;
  max-width: 37.5rem;
  margin: 10em auto;
  overflow: hidden;
  border: 1px solid $color-border;
  background-color: $color-white;
}

/* pending */

.pending {
  border-color: rgba(210, 210, 210, .5);
}

.pending span {
  color: rgb(210, 210, 210);
}
/* responded */

.responded {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-color: rgba(88, 183, 205, .9);
}

.responded label {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}

.confirmed {
  margin-left: 10px;
}

div > label {
  margin-top: 12px;
}
h1 {
  font-size: 5.8em;
}
h2 {
  font-size: 1.95em;
}
form {
  margin: 1em auto 0;
  position: relative;
}
.wrapper {
  width: 90%;
}
.main {
  padding: 1em;
  position: relative;
}
.options {
  display: inline-block;
  width: 100%;
}
.filter {
  display: inline-block;
}
td:last-child {
  padding-left: 5px;
}
.main > div {
  margin-top: 1em;
}

