/* =================================
  Element Styles
==================================== */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #9e9e9e;
  background: #f3f3f3;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #fcfcfc;
  overflow: hidden;
  -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .13);
  box-shadow: 0 0 26px rgba(0, 0, 0, .13);
}

h1,
p,
form button {
  color: white;
}

h1 {
  font-family: 'Courgette', cursive;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  line-height: .65;
  margin-top: .5em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.35em;
}

p {
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

form {
  width: 60%;
  background: white;
  display: inline-block;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  border-radius: .2em;
  border: solid 4px white;
  -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
}

form button {
  padding: 0 1em;
  font-size: 1em;
  background: #7bcbc4;
  border-radius: .2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}

ul li {
  padding: 1em;
  background: #fff;
  border-radius: .2em;
  border: solid 1px rgba(88, 183, 205, .15);
  border-bottom: solid 2px rgba(88, 183, 205, .15);
  position: relative;
}

button {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}

header {
  text-align: center;
  /*background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url(./images/header-bg.jpg) no-repeat;*/
  background-blend-mode: multiply;
  background-size: cover;
}

header input {
  padding: 12px;
  font-size: 1.15em;
  width: 100%;
}

li span,
li input[type=text] {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: .3em;
}

li input[type=text] {
  padding: .2em;
  width: 95%;
  border: 1px dotted rgba(0, 0, 0, .2);
}

input[type="checkbox"] {
  margin-right: 5px;
}

li label {
  font-size: .9em;
  display: block;
  color: rgba(112, 112, 112, .55);
}

li span,
li input[type=text]:first-child {
  display: block;
}

li button {
  font-size: .78em;
  margin-top: 1.65em;
  margin-right: .4em;
  border-radius: .3em;
  padding: .4em .6em;
  color: white;
  background: #58b7cd;
}

li button:last-child {
  background: rgba(88, 183, 205, .5);
}

div > input:last-child {
  font-size: 1em;
  margin-left: 6px;
}

div > label {
  color: #767676;
}

tr {
  color: rgba(118, 118, 118, .75);
}

td:last-child {
  font-weight: bold;
  font-size: 1.16em;
  color: rgb(118, 118, 118);
}
/* pending */

.pending {
  border-color: rgba(210, 210, 210, .5);
}

.pending span {
  color: rgb(210, 210, 210);
}
/* responded */

.responded {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-color: rgba(88, 183, 205, .9);
}

.responded label {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: rgba(88, 183, 205, 1);
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 768px) {
  header {
    padding: 1.25em;
  }
  h1 {
    font-size: 3.6em;
    margin: .3em 0 0;
  }
  ul li {
    margin-bottom: 1em;
  }
  form {
    width: 95%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    margin-top: 2.5em;
  }
  form button {
    padding: 12px 0;
    margin-top: .5em;
  }
  form input {
    font-size: 1em;
    text-align: center;
  }
  .wrapper {
    margin: 0;
  }
  .main {
    padding: 2em 1em .75em;
  }
  tr {
    display: inline-block;
    padding: 0 12px 0 0;
  }
}

.counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.counter__type {
  width: 240px;
  height: 120px;
  padding: 20px;
  text-align: center;
  background-color: #e6e6e6;
}

.counter__type__title {
  padding: 0.5em;
}

.counter__type__value {
  padding: 0.5em;
  font-size: 1.5em;
}

@media (min-width: 769px) {
  header {
    height: 140px;
    padding: 2.5em 1em 1em;
    background-position: 0 -95px;
  }
  div > label {
    margin-top: 12px;
  }
  h1 {
    font-size: 5.8em;
  }
  h2 {
    font-size: 1.95em;
  }
  form {
    margin: 4.15em auto 0;
    z-index: 3000;
    position: relative;
  }
  .wrapper {
    width: 90%;
  }
  .main {
    padding: 3.8em 1.5em .75em;
    position: relative;
    z-index: 10;
  }
  .options {
    display: inline-block;
    width: 100%;
  }
  .filter {
    display: inline-block;
  }
  td:last-child {
    padding-left: 5px;
  }
  .main > div {
    margin-left: 1.25%;
    margin-bottom: 0.5em;
    margin-top: 2.5em;
  }
  ul {
    display: -ms-flexbox;
    display: flex;
    clear: both;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.25em;
  }
  ul li {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    /* margin: 0 1.25% 1em; */
  }
}

@media (min-width: 880px) {
  ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
